<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bgColor</key>
	<string>Black</string>
	<key>changeflag</key>
	<string>0</string>
	<key>fourthTimeColor</key>
	<string>White</string>
	<key>thirdTimeColor</key>
	<string>White</string>
	<key>secondTimeColor</key>
	<string>White</string>
	<key>localColor</key>
	<string>White</string>
</dict>
</plist>
